.users-listing {
    max-width: 1400px;
    margin: 0 auto;
    .users-section {
        padding: 100px 20px;

        @media (max-width: 767.98px) {
            padding: 50px 20px;
        }

        .head {
            color: #fff;
            text-align: center;
            margin-top: 0;
            margin-bottom: 10px;
            line-height: 1.2;

            span {
                font-size: 14px;
                font-weight: 300;
                text-transform: uppercase;
                opacity: 0.5;
            }

            div {
                font-size: 40px;
                font-weight: 600;
            }

            @media (max-width: 767.98px) {
                font-size: 40px;
            }
        }
        .desc {
            color: #fff;
            text-align: center;
            max-width: 70%;
            margin: 0 auto;
            margin-bottom: 40px;
            opacity: 0.75;

            @media (max-width: 767.98px) {
                max-width: 100%;
                margin-bottom: 30px;
            }
        }

        .list {
            display: grid;
            grid-template-columns: auto auto;
            gap: 20px;
            padding: 0;

            @media (max-width: 767.98px) {
                grid-template-columns: auto;
            }

            .item {
                background: #fff;
                padding: 20px;
                list-style: none;
                display: flex;
                align-items: center;
                border-radius: 8px;

                .profile-img {
                    margin-right: 20px;
                    max-width: 60px;
                    border-radius: 50%;
                }
                .user-info {
                    .name {
                        color: var(--primary);
                        font-size: 18px;
                        line-height: 1.2;
                    }
                    .desg {
                        font-size: 14px;
                        color: var(--primary-half);
                    }
                }

                .view {
                    text-decoration: none;
                    font-size: 18px;
                    margin-left: auto;
                    color: var(--primary);
                    height: 40px;
                    width: 40px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 300ms;
                    border-radius: 50%;

                    &:hover {
                        background-color: var(--primary-light);
                    }
                }
            }
        }
    }
}
